// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

// @import '~vuetify/src/styles/styles.sass';
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

// $body-font-family: 'Roboto Slab', serif;
// $heading-font-family: 'Roboto Slab', serif;
// $font-size-root: 20px;

